:root {
  --background-header: #162028;
  --menu-text-color: #425564;
  --text-color: #555;
  --box-background: #003d52;
  --footer-background: #0b171f;
  --footer-text-color: #6f8597;
  --text-color-alt: #ececec;
}

body, h1, h2, h3, p{
    margin: 0;
}

header{
    top: 0;
    left: 0;
    color: white;
    background-color: var(--background-header);
    position: sticky;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 1%;
    justify-content: space-between;
    padding: 0 2vw;
}

.header-lista{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}

.header-link{
    color: white;
    text-decoration: none;
    padding: 1vw;
}

.header-link:hover{
    text-decoration: underline;
}

.escolha-certa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escolha-certa h2{
    margin: 12% 0 5% 0;
    font-size: 4vw;
}

.escolha-certa p{
    margin: 0 10%;
    font-size: 2vw;
    text-align: center;
}

img{
    width: 100%;
}

main{
    width: 100%;
}

.modelos{
    margin: 10%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.modelo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100%/3) - 10%);
}

.modelo h3{
    font-size: 3vw;
    margin: 5%;
}

.modelo p{
    font-size: 2vw;
}

.detalhes{
    background-color: var(--box-background);
    background-image: url("../images/bg_detalhe.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
    color: var(--text-color-alt);
    padding: 5%;
}

.detalhes-titulo{
    margin: 5% 0;
    font-size: 5vw;
}

.detalhes-texto{
    padding: 5% 0;
    font-size: 2vw;
}

.footer{
    display: flex;
    padding: 3% 0;
    background-color: var(--footer-background);
    color: white;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
}

.whatsapp{
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 30px;
    right: 30px;
}