:root {
  --background-header: #162028;
  --menu-text-color: #425564;
  --text-color: #555;
  --box-background: #003d52;
  --footer-background: #0b171f;
  --footer-text-color: #6f8597;
}

body, h1, h2, h3, p{
    margin: 0;
}

header{
    top: 0;
    left: 0;
    color: white;
    background-color: var(--background-header);
    position: sticky;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 1%;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.div h2{
    margin: 12% 0 5% 0;
    font-size: 4vw;
}

.div p{
    margin: 0 10%;
    font-size: 2vw;
    text-align: center;
}

img{
    width: 100%;
}

main{
    width: 100%;
}